<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit landlord</title>
  <link rel="stylesheet" href="https://www.unpkg.com/mirabo/mirabo.css">
</head>
<body>
<th:block th:replace="~{home :: navbar}"></th:block>

<h1 th:text="'Edit landlord ' + ${landlord.name}"></h1>

<form th:action="@{/landlords/save}" method="post">
  <input type="hidden" name="id" th:value="${landlord.id}">
  <label>
    NAME
    <input type="text" name="name" th:value="${landlord.name}">
  </label>
  <label>
    SURNAME
    <input type="text" name="surname" th:value="${landlord.surname}">
  </label>
  <label>
    PHONE
    <input type="tel" name="phone" th:value="${landlord.phone}">
  </label>
  <input type="submit" value="Confirm">
</form>

</body>
</html>