<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Sign Up</title>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@next/css/pico.min.css"
    />
</head>
<body class="container">
    <div th:if="${param.error}">
      Invalid username and password.
    </div>
    <div th:if="${param.logout}">
      You have been signed up out.
    </div>
    <h1>Welcome!</h1>
    <form th:action="@{/signup}" method="post">
      <div><label> User Name : <input type="text" name="login"/> </label></div>
      <div><label> Password: <input type="password" name="password"/> </label></div>
      <div><label> Confirm Password: <input type="password" name="confirmPassword"/> </label></div>
      <div style="display: flex; gap: 20px;">
        <label> Roles: </label>
        <label>
            User: <input type="checkbox" name="roles" value="User"/>
        </label>
        <label>
            Admin: <input type="checkbox" name="roles" value="Admin"/>
        </label>
      </div>
      <div><input type="submit" value="Sign Up"/></div>
    </form>
</body>
</html>