<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Landlords</title>
  <link rel="stylesheet" href="https://www.unpkg.com/mirabo/mirabo.css">
</head>
<body>
<th:block th:replace="~{home :: navbar}"></th:block>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Phone</th>
  </tr>
  <tr th:each="landlord : ${landlords}">
    <td th:text="${landlord.id}"></td>
    <td th:text="${landlord.name}"></td>
    <td th:text="${landlord.surname}"></td>
    <td th:text="${landlord.phone}"></td>
  </tr>
</table>
</body>
</html>